.container {
    width: 100%;
    display: flex;
    white-space: nowrap;
    padding: 0.635rem 0.5rem;
}

.item {
    width: 200px;
    height: 110px;
    margin-left: 0.5rem;
}

.warpLink {
    width: 200px;
    height: 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.linkContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.linkContainer:hover {
    border: 2px solid #6842ff;
    border-radius: 10px;
}

.linkContainer:hover .gameName {
    visibility: visible;
}

.gameName {
    z-index: 1;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-size: 0.6rem;
    visibility: hidden;
    font-weight: 600;
}

.img {
    object-fit: cover;
    border-radius: 10px;
}